<div align="center">
    <img src="project_icon.jpg" alt="Debugging code" width="50%">
</div>


In todayâ€™s fast-paced, data-driven world, companies rely heavily on accurate analyses of sales data to make informed decisions. However, the quality of the insights derived from such analyses depend significantly on the integrity of the underlying code.

You have been given some starting code with two functions: one that extracts and flattens JSON data into a structured format and the other that transforms electricity sales data by cleaning, filtering, and extracting relevant features. The company plans to use your revised code to improve the accuracy of sales analytics.

Your task is to identify potential errors in the functions and the underlying data that might result in logic and runtime errors, such as missing values, incorrect data types, or incompatible values (e.g., negatives). Enhance the custom functions provided by implementing exceptions to catch data quality issues and edge cases.

The data is available here ("sales_data_sample.csv") for the analyses. This data has 25 columns, but only two columns are analyzed, namely, `quantity_ordered` and `price_each`. A sample of the data is shown below.

In [46]:
# Import libraries
import pandas as pd

# Load data
sales_df = pd.read_csv("data/sales_data_sample.csv")
sales_df.head()

   order_number  quantity_ordered  ... contact_first_name  deal_size
0         10107                30  ...               Kwai      Small
1         10121                34  ...               Paul      Small
2         10134               -41  ...             Daniel     Medium
3         10145                45  ...              Julie     Medium
4         10159                49  ...              Julie     Medium

[5 rows x 25 columns]

In [47]:
# Identify errors and add exceptions to the `get_quantity_ordered_sum()` function
def get_quantity_ordered_sum(sales_quantity_ordered):
    """Calculates the total sum on the 'quantity_ordered' column.

    Args:
        sales_quantity_ordered (pd.core.series.Series): The pandas Series for the 'quantity_ordered' column.

    Returns:
        total_quantity_ordered (int): The total sum of the 'quantity_ordered' column.
    """

    total_quantity_ordered = 0
    try:
        for quantity in sales_quantity_ordered:
            total_quantity_ordered += abs(quantity)
    except TypeError:
            raise TypeError("quantity cannot be negative")
    return total_quantity_ordered

In [48]:
# Identify errors and add exceptions to the `get_price_each_average()` function
def get_price_each_average(sales_price_each, num_places=2):
    """Calculates the average on the 'price_each' column
       using pandas built in methods and rounds to the desired number of places.

    Args:
        sales_price_each (pd.core.series.Series): The pandas Series for the 'price_each' column.
        num_of_places (int): The number of decimal places to round.

    Returns:
        average_price_each (float): The average of the 'price_each' column.
    """
    try:
        total_of_price_each = sales_price_each.sum()
        len_of_price_each = len(sales_price_each)
        average_price_each = round(
            total_of_price_each / len_of_price_each, num_places
        )    
    except TypeError:
        sales_price_each = pd.to_numeric(sales_price_each, errors='coerce')
        sales_price_each.fillna(sales_price_each.mean())
        total_of_price_each = sales_price_each.sum()
        len_of_price_each = len(sales_price_each)
        average_price_each = round(
            total_of_price_each / len_of_price_each, 2
        )        
    return average_price_each

In [49]:
#  Add as many cells as you require 
get_quantity_ordered_sum(sales_df['quantity_ordered'])

99067

In [50]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_number        2823 non-null   int64
 1   quantity_ordered    2823 non-null   int64
 2   price_each          2823 non-null   object
 3   order_line_number   2823 non-null   int64
 4   sales               2823 non-null   float64
 5   order_date          2823 non-null   object
 6   status              2823 non-null   object
 7   qtr_id              2823 non-null   int64
 8   month_id            2823 non-null   int64
 9   year_id             2823 non-null   int64
 10  product_line        2823 non-null   object
 11  msrp                2823 non-null   int64
 12  product_code        2823 non-null   object
 13  customer_name       2823 non-null   object
 14  phone               2823 non-null   object
 15  address_line1       2823 non-null   object
 16  address_line2       302 non-null    object
 17  city                2823 non-null   object
 18  state               1337 non-null   object
 19  postal_code         2747 non-null   object
 20  country             2823 non-null   object
 21  territory           1749 non-null   object
 22  contact_last_name   2823 non-null   object
 23  contact_first_name  2823 non-null   object
 24  deal_size           2823 non-null   object
dtypes: float64(1), int64(7), object(17)
memory usage: 551.5+ KB

In [51]:
sales_df.describe()

       order_number  quantity_ordered  ...     year_id         msrp
count   2823.000000       2823.000000  ...  2823.00000  2823.000000
mean   10258.725115         35.063762  ...  2003.81509   100.715551
std       92.085478          9.845521  ...     0.69967    40.187912
min    10100.000000        -41.000000  ...  2003.00000    33.000000
25%    10180.000000         27.000000  ...  2003.00000    68.000000
50%    10262.000000         35.000000  ...  2004.00000    99.000000
75%    10333.500000         43.000000  ...  2004.00000   124.000000
max    10425.000000         97.000000  ...  2005.00000   214.000000

[8 rows x 8 columns]

In [52]:
total_quantity_ordered = get_quantity_ordered_sum(sales_df['quantity_ordered'])

In [53]:
average_price_each = get_price_each_average(sales_df['price_each'])

In [54]:
print("Total Quantity Ordered is",total_quantity_ordered)

Total Quantity Ordered is 99067

In [55]:
print("Average Price Each is",average_price_each)

Average Price Each is 83.63